* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top-bar {
    background-color: black;
    color: white;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    width: 100%;
}

.top-bar a {
    color: white;
    font-size: 1.2rem;
}

@media (max-width: 450px) {
    .top-bar {
        padding: 5px 0;
        font-size: 0.8rem;
        width: 100%;

    }

    .top-bar a {
        font-size: 1rem;
    }
}

.top-nav {
    display: flex;
    /* border: 1px solid black; */
    padding: 30px 0;
    background-color: beige;
    justify-content: space-between;
    background-color: white;
    width: 100%;
}

@media (max-width: 450px) {
    .top-nav {
        display: flex;
        /* flex-direction: column; */
        justify-content: space-evenly;
        background-color: white;
        width: 100%;
    }

    .left-nav {}

    .mid-nav {
        display: flex;
        margin-right: -20px;
        align-items: center;
    }

    .mid-nav ul {
        display: none;
    }

    .search img {
        background-color: white;
    }

    #mobile {
        display: none;
    }

    .right-nav {
        position: relative;

    }
}

.left-nav {
    /* border: 1px solid black; */
    margin-left: 9%;
    display: flex;
    align-items: center;
}

.mid-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid black; */
    font-size: 1.3rem;
    gap: 40px;
}

.mid-nav ul li {
    list-style: none;
}

.mid-nav ul li a {
    text-decoration: none;
    color: black;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: aqua;
    border-radius: 100px;
}

.search img {
    padding: 8px;
}

.search input {
    border-radius: 100px;
    width: 400px;
    border: none;
    outline: none;
    padding: 10px 0;
    font-size: 16px;
    background-color: aqua;
}

.right-nav {
    display: flex;
    /* border: 1px solid black; */
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-right: 20%;
}

.hero {
    display: flex;
    background-color: #f0f0f0;
}

.left {
    width: 50%;
    display: flex;
    /* border: 1px solid black; */
    flex-direction: column;
    font-family: sans-serif;
    justify-content: center;
    height: 70vh;
    gap: 15px;
    font-size: 20px;
    padding: 50px;
}

.left h1 {
    font-size: 3rem;
}

.left button {
    width: 250px;
    background-color: black;
    color: white;
    border-radius: 62px;
    padding: 16px 52px;
}

.right {
    background-image: url(logo/Rectangle\ 2.png);
    width: 50%;
    background-size: 200% 100%;
    background-repeat: no-repeat;
    background-position: right bottom;
    margin-right: 10%;
}

@media (max-width:450px) {
    .hero {
        display: flex;
        flex-direction: column;
        background-color: #f0f0f0;
    }

    .left {
        font-size: 14px;
        gap: 10px;
        display: flex;
        width: 100%;
        padding: 25px;
        height: 40vh;
    }

    .left h1 {
        font-size: 2rem;
        font-weight: bolder;
    }

    .left button {
        width: 120px;
        padding: 8px 25px;
        border-radius: 32px;
    }

    .right {
        background-position: top center;
        background-size: 100% 100%;
        background-image: url(image/rectangl.png);
        height: 80vh;
        width: 100%;
    }
    .last {
        display: flex;
        /* flex-direction: column; */
        flex-wrap: wrap;
        gap: 20px;
    }
    .last img {
        width: 100px;
        object-fit: contain;
    }
    .last1 {
        height: 30px;
        object-fit: contain;
    }
}
.last {
    background-color: black;
    padding: 27px;
    display: flex;
    justify-content: space-evenly;
}